{% extends "base.html" %}
{% load static %}
{% block title %}Staffs{% endblock title %}
{% block content %}
  <div class="row">
    <div class="col-12">
       <div class="card table-card">
          <div class="card-header">
             <div class="d-sm-flex align-items-center justify-content-between">
                <h5 class="mb-3 mb-sm-0">Academic Records</h5>
             </div>
          </div>
          <div class="card-body pt-3">
             <div class="table-responsive">
                <table class="table table-hover" id="pc-dt-simple">
                   <thead>
                      <tr>
                         <th>#</th>
                         <th>Name</th>
                         <th>Course</th>
                         <th>Semester</th>
                         <th>Year</th>
                         <th>Grade</th>
                         <th>Action</th>
                      </tr>
                   </thead>
                   <tbody>
                     {% for record in records %}
                            <tr>
                         <td>
                            <div class="d-flex align-items-center">
                               <div class="flex-shrink-0"><img src="{% static 'assets/images/user/avatar-2.jpg' %}" alt="user image" class="img-radius wid-40"></div>
                               <div class="flex-grow-1 ms-3">
                                  <h6 class="mb-0"><a href="{% url 'staff_detail' record.pk %}">{{ record.user.first_name }} {{ record.user.last_name }}</a></h6>
                               </div>
                            </div>
                         </td>
                         <td>{{ record.student.user.first_name }} {{ record.student.user.last_name }}</td>
                         <td>{{ record.course }}</td>
                         <td>{{ record.semester }}</td>
                         <td>{{ record.year }}</td>
                         <td>{{ record.grade }}</td>
                         <td><a href="#" class="avtar avtar-xs btn-link-secondary"><i class="ti ti-eye f-20"></i> </a><a href="{% url 'staff_update' record.pk %}" class="avtar avtar-xs btn-link-secondary"><i class="ti ti-edit f-20"></i> </a><a href="{% url 'staff_delete' record.pk %}" class="avtar avtar-xs btn-link-secondary"><i class="ti ti-trash f-20"></i></a></td>
                      </tr>
                        {% endfor %}
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}